body{
    background-image: url(pexels-miguel-á-padriñán-255379.jpg);
    background-position: center;
    height: 300px;
}
.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-top: 100px;
}
.inner-container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    height: 200px;
    width: 300px;
}
.register-container{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    height: 500px;
    width: 400px;
}
